.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/src/lib/data/*
/docker_volume
**/__pycache__
/prisma/migrations
/static/kanji.json
**/target
**/db.rs
**/prisma_schemas
wanikani.json
vite-profile.cpuprofile
.cloudflare